

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .container
    width: 100%
    padding: 0 20px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .container
    width: 100%
  .col-item-3
    width: 100%

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .col-item-3
    width: 100%
  .products__title
    text-align: center
    height: 20px
    border-bottom: 3px solid rgb(204, 204, 204)
    &:after
      content: ""
      display: none
    span
      float: none!important
      width: auto
      display: inline
      padding: 0 50px!important

///* Extra Small Devices, Phones */
//@media only screen and (max-width : 480px)
///**/
//
//
///* Custom, iPhone Retina */
//@media only screen and (max-width : 320px)
///**/
//
//
///*==========  Mobile First  ==========*/
//
///* Custom, iPhone Retina */
//@media only screen and (min-width : 320px)
///**/
//
//
///* Extra Small Devices, Phones */
//@media only screen and (min-width : 480px)
///**/
//
//
///* Small Devices, Tablets */
//@media only screen and (min-width : 768px)
///**/
//
//
///* Medium Devices, Desktops */
//@media only screen and (min-width : 992px)
//
///**/
//
//
//
///* Large Devices, Wide Screens */
//@media only screen and (min-width : 1200px)
//
///**/
//
